<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{title}}
        <small>Vous êtes {{role}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Skillex</a></li>
        <li class="active">Compétences</li>
      </ol>
    </section>
  
    <table class="table table-hover table-striped">
       
        
          <thead>
         <h3>Liste des compétences</h3>
         <div>
            <label>Compétence:</label> <input #skillName />
            <button (click)="add(skill.Name.value); skill.Name.value=''">
              Add
            </button>
          </div>
        
          
          </thead>
          <tbody>
          <tr *ngFor="let skill of skills">

            <td class="mailbox-subject"><b>{{skill.name}}</b></td>
   
          </tr>
         


        </tbody>
      </table>
      <button (click)="save()">Save</button>  
      
      <ng-select  [multiple]="true"
      [items]="items"
      [disabled]="disabled"
      (data)="refreshValue($event)"
      (selected)="selected($event)"
      (removed)="removed($event)"
      placeholder="Selectionnez vos compétences"></ng-select>
                    <div class="col-md-9">
                      
  
                 
                        
  
                    
  
                         
                 
        
            
            
            
         
          <!-- /.modal-content -->
        
        <!-- /.modal-dialog -->
        
            <!-- /.form-group -->
          