<style>
  span {

    background-color: #fff;
     -webkit-animation: random 15s infinite;
     animation: random 15s infinite;
  }
@keyframes  random {
    15% { background-color: blue; } 
    30% { background-color: white; } 
    45% { background-color: red; } 
    60% { background-color: blue; }
    75% { background-color: white; }  
}

</style>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Page de compétences équipe
      <small>Si ce texte s'affiche le routing fonctionne</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Skillex</a></li>
      <li class="active">Equipe</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
  
    <div *ngFor="let user of users">
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user ">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
          
          <h3 class="widget-user-username">{{user.name}} </h3>
          
          <h5 class="widget-user-desc">Développeur</h5>
          <div class="widget-user-image">
              <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAA0BAAAAJDMwOGM0YmNiLWEyM2EtNDJiNS1hNGUzLTIwNzQ2NTZjNzdlYg.jpg" alt="User Avatar">
            </div>

        </div>
        
        <div class="nav-tabs-custom">
            
             <div class="tab-content">
                <hr>
        <strong><i class="fa fa-pencil margin-r-5"></i> Compétences web </strong>
        <div *ngFor="let skills of myskills">
          <div class="col-md-3">
            <span class="label label-success  col-md-12 random">{{skills.name}}</span>
            <div>
              <i *ngFor="let skills of myskills" class="fa fa-star"></i>
            </div>
          </div>  
        </div>
        <div class="box-footer">  
            <!-- /.row -->
          </div>
               <hr>
        </div>
        </div>
      </div>
    </div>
  </div>
  </section>


  <!-- /.content -->
</div>

