<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Page de compétences équipe
      <small>Si ce texte s'affiche le routing fonctionne</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Skillex</a></li>
      <li class="active">Equipe</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user ">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
          <h3 class="widget-user-username">Eddy Masson </h3>
          
          <h5 class="widget-user-desc">Développeur</h5>
        </div>
        <div class="widget-user-image">
          <img class="img-circle" src="https://source.unsplash.com/collection/787231/faces/" alt="User Avatar">
          
        </div>
   
  <div class="nav-tabs-custom">
       
        <div class="tab-content">
           <hr>

          <strong><i class="fa fa-pencil margin-r-5"></i> Compétences web </strong>

          <p>
    <div class="col-md-3">
            <span class="label label-primary  col-md-12">HTML</span>
     <i class="fa fa-star"></i><i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
  </div>
      <div class="col-md-3">
            <span class="label label-success col-md-12">Oracle </span>
    <i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
    </div>
      <div class="col-md-3">
            <span class="label label-warning col-md-12">HQL </span>
  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star text-red"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
    </div>
          <div class="col-md-3">
            <span class="label label-primary col-md-12">JAVA </span>
  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star text-red"></i><i class="fa fa-star text-red"></i><i class="fa fa-star-o"></i>
    </div>		  <div class="col-md-3">
            <span class="label label-primary col-md-12">Assurance </span>
  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
    </div>
        <div class="col-md-3">
            <span class="label label-success  col-md-12">Batch</span>
     <i class="fa fa-star"></i><i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
  </div>
      <div class="col-md-3">
            <span class="label label-warning col-md-12">CSS </span>
    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
    </div>
    <div class="box-footer">  
       <!-- /.row -->
     </div>
          <hr>
        </div>
        <!-- /.tab-content -->
      </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <div *ngFor="let user of users">
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user ">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
          
          <h3 class="widget-user-username">{{user.name}} </h3>
          
          <h5 class="widget-user-desc">Développeur</h5>
          <div class="widget-user-image">
              <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAA0BAAAAJDMwOGM0YmNiLWEyM2EtNDJiNS1hNGUzLTIwNzQ2NTZjNzdlYg.jpg" alt="User Avatar">
            </div>

        </div>
        
        <div class="nav-tabs-custom">
            
             <div class="tab-content">
                <hr>
        <strong><i class="fa fa-pencil margin-r-5"></i> Compétences web </strong>
        <div *ngFor="let skills of myskills">
          <div class="col-md-3">
            <span class="label label-success  col-md-12">{{skills.name}}</span>
            <div>
              <i *ngFor="let skills of myskills" class="fa fa-star"></i>
            </div>
          </div>  
        </div>
        <div class="box-footer">  
            <!-- /.row -->
          </div>
               <hr>
        </div>
        </div>
      </div>
    </div>
  </div>
  </section>


  <!-- /.content -->
</div>

